@{
    ViewData["Title"] = "Добро пожаловать";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в салон красоты "Ваш Стиль"</h1>
    <p>Профессиональные услуги для вашей красоты и здоровья.</p>
    <a asp-controller="Appointments" asp-action="SelectService" class="btn btn-primary btn-lg">Записаться онлайн</a>
</div>
